#nav_bar {
    background-color:orange;
    top: 0;
    position: fixed;
    width: 100%;
    margin-left: 0em;
    
}

ul {
    list-style-type: none;
    margin: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 100%;
}

li {
    display: inline;
    padding: 40px;
}


.main {
    width: 960px;
    margin: 0, auto;
    margin-top: 100px;
}

p {
    font-size: 100%;
    color:dimgray;
    font-family: fantasy, serif;
}

body {
    margin-left: 10;
}
.nav_link {
    color: azure;
    text-decoration: none;
}

.master {
    width: 100%;
}

figcaption {
    text-align: center;
    color:dimgray;
    font-size: 100%;
    font-family: fantasy, serif;
    
}

#content {
    float:left;
    width:90%;
}

#ad {
    float:right;
    width:10%;
}


#img_ad {
    margin-top: 10em;
}


figure {
    margin: auto;
    margin-bottom: 4em;
    margin-top: 4em;
    width: 250px;
    
}



#stats_col {
    float:right;
    width: 50%;
}

.team_stats {
    margin-top: 5em;
    margin-left: 10em;
}

table {
    margin: 0px auto;
    margin-top: 2em;
    margin-bottom: 3em;
    border: 3px dotted;
    border-color: #575757;
    font-family: fantasy, serif;
    font-size: 100%;
}





caption {
    caption-side: bottom;
    margin-top: 1.25em;
    font-size: 90%;
}

.portraits {
    margin-left: 36%;
}



td {
    padding: .5em;
}

h1 {
    font-size: 250%;
    font-family: fantasy, sans-serif;
    
}
